.u-section-1 .u-sheet-1 {
  min-height: 145px;
}

.u-section-1 .u-text-1 {
  font-family: FontsFree-Net-Astronout-3;
  font-size: 6rem;
  width: 177px;
  margin: -8px auto 0;
  src: url(FontsFree-Net-Astronout-3.ttf);
}
.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: -25px auto 60px;
}
@font-face {
  font-family: "FontsFree-Net-Astronout-3";
  font-style: normal;
  font-weight: 400;
  src: url(FontsFree-Net-Astronout-3.ttf);
}
