.u-section-1 .u-sheet-1 {
  min-height: 145px;
}

.u-section-1 .u-text-1 {
  font-family: FontsFree-Net-Astronout;
  font-size: 6rem;
  width: 177px;
  margin: -8px auto 0;
  src: url(./assets/fonts/FontsFree-Net-Astronout-1.ttf);
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 125px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 31px auto 0 230px;
}

.u-section-2 .u-text-1 {
  margin: -64px auto 0;
}

.u-section-2 .u-icon-2 {
  width: 65px;
  height: 65px;
  margin: -73px 229px 30px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 743px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 217px;
    margin-right: 217px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 31px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 107px;
    margin-right: 107px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 625px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 31px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 172px;
    margin-left: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-2 .u-icon-1 {
    width: 50px;
    height: 50px;
    margin-top: 44px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-1 {
    width: 260px;
    margin-top: -81px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    width: 50px;
    height: 50px;
    margin: -81px -10px 44px auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 685px;
}

.u-section-3 .u-text-1 {
  font-size: 9.375rem;
  font-family: FontsFree-Net-Astronout;
  width: 149px;
  margin: -6px auto 0;
  src: url(assets/fonts/FontsFree-Net-Astronout.ttf);
}

.u-section-3 .u-list-1 {
  width: 395px;
  margin: 0 auto 0 -222px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-list-2 {
  width: 371px;
  margin: 14px auto 0;
}

.u-section-3 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 207px;
  right: 0;
}

.u-section-3 .u-gallery-1 {
  height: 456px;
  margin-bottom: 60px;
  margin-top: -14px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -7px;
    margin-right: 344px;
    margin-left: 392px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -72px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-list-2 {
    min-height: 453px;
    height: auto;
    margin-top: 85px;
    margin-left: 95px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-gallery-1 {
    height: 369px;
    margin-top: 86px;
  }

  .u-section-3 .u-gallery-nav-6 {
    left: auto;
    top: 165px;
    right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 234px;
    margin-left: 282px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-list-2 {
    width: 723px;
    margin-top: 72px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-gallery-nav-4 {
    top: 208px;
  }

  .u-section-3 .u-gallery-1 {
    height: 451px;
    width: 755px;
    margin-top: 82px;
    margin-left: -17px;
    margin-right: -17px;
  }

  .u-section-3 .u-gallery-nav-5 {
    left: 6px;
    top: 185px;
  }

  .u-section-3 .u-gallery-nav-6 {
    top: 185px;
    right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-text-1 {
    width: 158px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 97px;
  }

  .u-section-3 .u-list-2 {
    width: 283px;
    margin-top: -89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-gallery-1 {
    height: 342px;
    width: 578px;
    margin-top: -87px;
    margin-left: -19px;
    margin-right: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -25px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 143px;
  }

  .u-section-3 .u-list-2 {
    width: 333px;
    min-height: 403px;
    margin-top: -118px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-nav-3 {
    left: 6px;
    top: 182px;
  }

  .u-section-3 .u-gallery-nav-4 {
    top: 182px;
    right: 9px;
  }

  .u-section-3 .u-gallery-1 {
    height: 370px;
    width: 307px;
    margin-top: -134px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 681px;
}

.u-section-4 .u-text-1 {
  font-family: FontsFree-Net-Astronout;
  font-size: 9.375rem;
  width: 386px;
  margin: 0 auto;
  src: url(assets/fonts/FontsFree-Net-Astronout.ttf);
}

.u-section-4 .u-gallery-1 {
  height: 455px;
  margin-top: -9px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-1 {
  width: 375px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-2 {
  width: 375px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-3 {
  width: 375px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-4 {
  width: 375px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-5 {
  width: 375px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-6 {
  width: 375px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 208px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-gallery-1 {
    height: 453px;
    width: 763px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-nav-2 {
    right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -12px;
  }

  .u-section-4 .u-gallery-1 {
    height: 452px;
    width: 759px;
    margin-top: -9px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-4 .u-gallery-nav-2 {
    right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -9px;
  }

  .u-section-4 .u-gallery-1 {
    height: 448px;
    width: 383px;
    margin-top: -7px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 443px;
    width: 379px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-4 .u-gallery-nav-2 {
    right: 22px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 702px;
}

.u-section-5 .u-list-1 {
  width: 395px;
  margin: 159px auto 0 -222px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-text-1 {
  font-size: 9.375rem;
  font-family: FontsFree-Net-Astronout;
  width: 205px;
  margin: -159px auto 0;
  src: url(assets/fonts/FontsFree-Net-Astronout.ttf);
}

.u-section-5 .u-gallery-1 {
  height: 455px;
  margin-bottom: 60px;
  margin-top: 12px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-1 {
  width: 375px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-2 {
  width: 375px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-3 {
  width: 375px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-4 {
  width: 375px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-5 {
  width: 375px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-5 .u-gallery-1 {
    height: 452px;
    width: 769px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-gallery-nav-4 {
    left: auto;
    top: 206px;
    right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-gallery-1 {
    height: 457px;
    width: 759px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-5 .u-gallery-nav-3 {
    left: 7px;
    top: 209px;
  }

  .u-section-5 .u-gallery-nav-4 {
    top: 212px;
    right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: -165px;
  }

  .u-section-5 .u-gallery-1 {
    height: 449px;
    width: 384px;
    margin-top: 0;
    margin-right: 72px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-5 .u-gallery-1 {
    height: 448px;
    width: 383px;
    margin-top: 13px;
    margin-left: -21px;
    margin-right: -21px;
  }
}.u-section-6 {
  background-image: none;
  min-height: 731px;
}

.u-section-6 .u-shape-1 {
  width: 400px;
  height: 740px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 370px);
}

.u-section-6 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 378px);
  height: 743px;
  margin: -740px auto 0 0;
}

.u-section-6 .u-list-1 {
  width: 395px;
  margin: -583px auto 0 calc(((100% - 1140px) / 2) + -222px);
}

.u-section-6 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-shape-3 {
  width: calc(((100% - 1140px) / 2) + 377px);
  height: 737px;
  margin: -160px 0 0 auto;
}

.u-section-6 .u-list-2 {
  width: 374px;
  margin: -564px auto 0;
}

.u-section-6 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-6 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 207px;
  right: 0;
}

.u-section-6 .u-text-1 {
  font-family: FontsFree-Net-Astronout;
  font-size: 9.375rem;
  width: 126px;
  margin: -173px calc(((100% - 1140px) / 2) + 507px) 0;
  src: url(assets/fonts/);
}

.u-section-6 .u-gallery-1 {
  height: 456px;
  width: 1157px;
  margin: 29px calc(((100% - 1140px) / 2) + -16px) 60px auto;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: 329px;
    left: 374px;
    right: 337px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 424px);
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-list-1 {
    margin-top: -14327px;
    margin-left: calc(((100% - 1140px) / 2) + 78px);
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-6 .u-shape-3 {
    width: 342px;
    left: 703px;
    right: -5px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-list-2 {
    width: 1305px;
    margin-top: -146797px;
    margin-right: calc(((100% - 1140px) / 2) + -265px);
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + -265px);
    margin-left: auto;
  }

  .u-section-6 .u-gallery-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    width: 270px;
    left: 289px;
    right: 261px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 451px);
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-list-1 {
    margin-top: -16874px;
    margin-right: calc(((100% - 1140px) / 2) + 337px);
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-shape-3 {
    width: 270px;
    left: 555px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-list-2 {
    width: calc(((100% - 1140px) / 2) + 930px);
    min-height: 304px;
    margin-top: -199462px;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-gallery-nav-3 {
    left: 0;
    top: 132px;
  }

  .u-section-6 .u-gallery-nav-4 {
    top: 132px;
    right: 5px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -473px;
    margin-right: calc(((100% - 1140px) / 2) + 405px);
    margin-left: calc(((100% - 1140px) / 2) + 735px);
  }

  .u-section-6 .u-gallery-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    left: 109px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 541px);
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-list-1 {
    margin-top: -19722px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-shape-3 {
    left: 375px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-list-2 {
    width: 374px;
    min-height: 640px;
    margin-top: -255710px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -692px;
    margin-right: calc(((100% - 1140px) / 2) + 6px);
    margin-left: calc(((100% - 1140px) / 2) + 1134px);
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    width: 120px;
    left: 250px;
    right: 70px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 470px);
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-list-1 {
    margin-top: -19114px;
    margin-right: calc(((100% - 1140px) / 2) + 345px);
    margin-left: auto;
  }

  .u-section-6 .u-shape-3 {
    width: 222px;
    left: 223px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-list-2 {
    width: 404px;
    margin-top: -243702px;
    margin-right: calc(((100% - 1140px) / 2) + 336px);
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 9.375rem;
    width: 114px;
    margin-top: -840px;
    margin-right: calc(((100% - 1140px) / 2) + 113px);
    margin-left: calc(((100% - 1140px) / 2) + 913px);
  }

  .u-section-6 .u-gallery-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 690px;
}

.u-section-7 .u-text-1 {
  font-family: FontsFree-Net-Astronout;
  font-size: 9.375rem;
  width: 386px;
  margin: 0 auto;
  src: url(assets/fonts/FontsFree-Net-Astronout.ttf);
}

.u-section-7 .u-gallery-1 {
  height: 455px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-1 {
  width: 375px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-2 {
  width: 375px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-3 {
  width: 375px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-4 {
  width: 375px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-5 {
  width: 375px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-6 {
  width: 375px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-7 {
  width: 375px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-8 {
  width: 375px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-7 .u-back-image-9 {
  width: 375px;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 208px;
  right: 11px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-7 .u-gallery-1 {
    height: 451px;
    width: 765px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-gallery-1 {
    width: 770px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-7 .u-gallery-nav-2 {
    right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-7 .u-gallery-1 {
    height: 446px;
    width: 378px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-gallery-1 {
    height: 456px;
    margin-top: 9px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-7 .u-gallery-nav-2 {
    right: 22px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-8 .u-list-1 {
  width: 395px;
  margin: 159px auto 0 -222px;
}

.u-section-8 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-text-1 {
  font-size: 9.375rem;
  font-family: FontsFree-Net-Astronout;
  margin: -151px 413px 0 397px;
  src: url(assets/fonts/FontsFree-Net-Astronout.ttf);
}

.u-section-8 .u-gallery-1 {
  height: 456px;
  width: 1152px;
  margin: 8px -6px 0;
}

.u-section-8 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 208px;
  right: 0;
}

.u-section-8 .u-gallery-2 {
  height: 456px;
  width: 1152px;
  margin: 48px -6px 60px;
}

.u-section-8 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 208px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    margin-top: 2780px;
    margin-left: -22px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-8 .u-text-1 {
    width: 328px;
    margin: -2756px auto 60px;
  }

  .u-section-8 .u-gallery-1 {
    width: 940px;
    margin-top: 320px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-gallery-2 {
    height: 373px;
    width: 940px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    margin-top: 2074px;
    margin-left: 198px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-text-1 {
    margin-right: 205px;
    margin-left: 607px;
  }

  .u-section-8 .u-gallery-1 {
    width: 720px;
    margin-top: -640px;
  }

  .u-section-8 .u-gallery-2 {
    width: 720px;
    margin-top: 1059px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    margin-top: 2124px;
    margin-right: 367px;
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 115px;
    margin-left: 697px;
  }

  .u-section-8 .u-gallery-1 {
    width: 540px;
  }

  .u-section-8 .u-gallery-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    margin-top: 2131px;
    margin-right: 167px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
    margin-right: 12px;
    margin-left: 800px;
  }

  .u-section-8 .u-gallery-1 {
    width: 340px;
  }

  .u-section-8 .u-gallery-2 {
    width: 340px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 697px;
}

.u-section-9 .u-list-1 {
  width: 395px;
  margin: 159px auto 0 -222px;
}

.u-section-9 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-text-1 {
  font-size: 9.375rem;
  font-family: FontsFree-Net-Astronout;
  width: 260px;
  margin: -152px auto 0;
  src: url(assets/fonts/FontsFree-Net-Astronout.ttf);
}

.u-section-9 .u-gallery-1 {
  height: 455px;
  width: 1156px;
  margin: 0 -8px 60px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-9 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-1 {
  width: 375px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-2 {
  width: 375px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-3 {
  width: 375px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-gallery-nav-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 208px;
  right: 11px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 686px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-9 .u-text-1 {
    width: 253px;
    margin-top: -677px;
  }

  .u-section-9 .u-gallery-1 {
    height: 462px;
    width: 769px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-9 .u-gallery-nav-4 {
    right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 9px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-text-1 {
    margin-top: -668px;
  }

  .u-section-9 .u-gallery-1 {
    height: 444px;
    width: 770px;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -600px;
  }

  .u-section-9 .u-gallery-nav-3 {
    top: 202px;
  }

  .u-section-9 .u-gallery-nav-4 {
    right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 723px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -713px;
  }

  .u-section-9 .u-gallery-1 {
    height: 450px;
    width: 380px;
    margin: 7px auto 60px;
  }

  .u-section-9 .u-gallery-nav-4 {
    top: 205px;
    right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 713px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -705px;
  }

  .u-section-9 .u-gallery-1 {
    width: 384px;
    margin-top: 8px;
    margin-left: -22px;
    margin-right: -22px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 95px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: -42px;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 154px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-10 .u-text-1 {
  font-size: 1.875rem;
  font-weight: bold;
  margin: 52px -104px 0 372px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 154px;
}

.u-section-10 .u-container-layout-2 {
  padding: 26px 0;
}

.u-section-10 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 39px;
  min-width: 16px;
  animation-duration: 1000ms;
  margin: 51px auto 0 35px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 54px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 145px;
  }

  .u-section-10 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-top: 45px;
    margin-right: -43px;
    margin-left: 268px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 145px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 46px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 33px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 136px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 0;
    margin-right: 39px;
    margin-left: 97px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 57px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: -4px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    margin: 52px -25px -19px 25px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 36px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 1px;
    margin-bottom: -4px;
  }
}@font-face {
  font-family: 'FontsFree-Net-Astronout';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/FontsFree-Net-Astronout.ttf);
}